@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Roboto&display=swap');

@media (max-width 768px){
  body{
    font-size: 14px
    width: 100%;
    padding: 10px;
    flex-direction: column;
    text-align: center;
  }

    nav {
    margin-top: 10px;
  }
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0;
    margin-bottom: 10px;
  }

  .con{
    margin: 10px 0;
  }

  .biz{
    margin: 10px 0;
  }

  .medd{
    margin: 10px 0;
  }

  .lists{
    margin: 10px 0;
  }
}

body{
  font-family: 'Nunito', sans-serif;
  background-color: rgb(57, 57, 57);
  width: 100%
  max-width: 1200px;
  margin: 0 auto;
}

.nav{
  position: fixed;
  background-color: rgb(57, 55, 55); /* Choose your desired background color */
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff; /* Replace with your desired text color */
  padding: 10px;
  z-index: 1;
}

.line{
  align-self: first baseline;
  display: flex;
  height: 0.5px;
  width: 100%;
  background-color: grey;
}

ul{
  display: flex;
  flex-direction: row;
  float: right;
  margin: 4px;
}

li{
  margin: 8px;
  list-style: none;
  font-size: 0.7em;
}

a{
  text-decoration: none;
  color: gray;
}

a:hover{
  color: aliceblue;
}

.con{
  display: flex;
  background-color: rgb(71, 71, 71);
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  height: 300px;
  align-self: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 15px 0  10px 15px hsl(0, 0%, 17%);
}

.biz{
  display: flex;
  background-color: rgb(101, 101, 101);
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
  height: 110px;
  align-self: center;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  margin-top: 20px;
  box-shadow: 15px 0 10px 15px hsl(0, 0%, 17%);
}

h1{
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  font-weight: bold;
  font-size: 3em;
  transition: color 0.3s;
  color: rgb(103, 103, 103);
}

h1:hover{
  color: silver;
  text-shadow: 0 0 10px silver;
}

h2{
  margin: 0 auto;
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: silver;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgb(149, 149, 149);
  animation: typing 5s steps(40, end) infinite, cursor-blink 1s infinite;
}

@keyframes typing{
  from{width: 0;}
  to{width: 100%;}
}

@keyframes cursor{
  0%, 100%{border-right: 2px solid  ghostwhite;}
  50%{border-right: none;}
}

.cursor-pulse{
  animation: cursor-pulse 1s infinite;
}

.medd{
  width: 340px;
  height: 400px;
  background-color: rgb(91, 91, 91);
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 12px 0 10px 12px hsl(0, 0%, 17%);
  border-radius: 8px;
}


.list{
  width: fit-content;
  height: fit-content;
  background-color: rgba(57, 55, 55, 0.33);
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin: 30px;
}
